.header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #7e8ffe39, #5626db38);
}
ul{
    list-style: none;
    color: #757575;
}
.list-one{
    color: #493b70;
}
button{
    
    background: linear-gradient(to left, #7E90FE, #9873FF);
    color: #fff;
}